@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../js/pages/**/*.vue';



@plugin "daisyui/theme" {
  name: "garden";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(58% 0.253 17.585);
  --color-secondary-content: oklch(96% 0.015 12.422);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(43% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-base-300);
    color: var(--color-base-content);
}
main{
  padding-right: 10dvw;
  padding-left: 10dvw;
}